# Auto detect text files and perform LF normalization
* text=auto
# Language override for damn matlab syntax recognition
*.m linguist-language=MATLAB
# Exclude legacy code from linguist statistics
*.ipynb linguist-vendored=true
*.f     linguist-vendored=true
