# Auto detect text files and perform LF normalization
* text=auto
# Language override for damn matlab syntax recognition
*.m linguist-language=MATLAB
# Exclude jupyter-notebooks from linguist statistics
*.ipynb linguist-vendored=true
